.button {
    display: inline-block;
    color: #202242;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    border: 4px solid #ffffff;
    background-color: #ffe13e;
    padding: 29px 50px 30px 48px;
    float: right;
}
.button:hover {
    color: #ffe13e;
    background-color: #202242;
}